div {
    border: 3px solid black; 
    width: 100px;
    height: 100px;
    Margin: 100px auto;
    background-color: white;
}
#middlebox {
    background-color: blue;
    border: 3px solid black; 
    width: 300px;
    height: 300px;
    Margin: 100px auto;
}
#outerbox {
    background-color: red;
    border: 3px solid black; 
    width: 500px;
    height: 500px;
    Margin: 100px auto;
}

h1 {
    text-align:center
}
td {
    border: 3px solid black;
}